.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
  display:table;
  content:"";
  line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
  font:0 / 0 a;
  color:transparent;
  text-shadow:none;
  background-color:transparent;
  border:0;
}
.input-block-level {
  display:block;
  width:100%;
  min-height:30px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.php-hl-default { color:Black; }
.php-hl-code { color:Gray; }
.php-hl-brackets { color:Olive; }
.php-hl-comment {
  color:#808080;
  font-style:italic;
}
.php-hl-quotes { color:red; }
.php-hl-string { color:Red; }
.php-hl-identifier { color:green; }
.php-hl-builtin { color:Teal; }
.php-hl-reserved {
  color:black;
  font-weight:bold;
}
.php-hl-inlinedoc { color:Blue; }
.php-hl-var { color:blue; }
.php-hl-url { color:Blue; }
.php-hl-special { color:Navy; }
.php-hl-number { color:Maroon; }
.php-hl-inlinetags { color:Blue; }
.php-hl-main {
  font-family:'Courier New', Courier, monospace;
  font-weight:normal;
  font-size:12px;
}
ol.php-hl-main pre {
  margin:0;
  padding:0;
}
.php-hl-gutter {
  background-color:#999999;
  color:White;
}
.php-hl-table {
  font-family:courier;
  font-size:12px;
  border:solid 1px #505050;
}
.xml-hl-default { color:Black; }
.xml-hl-code { color:Gray; }
.xml-hl-brackets { color:Olive; }
.xml-hl-comment {
  color:#808080;
  font-style:italic;
}
.xml-hl-quotes { color:red; }
.xml-hl-string { color:Red; }
.xml-hl-identifier { color:Blue; }
.xml-hl-builtin { color:Teal; }
.xml-hl-reserved { color:Green; }
.xml-hl-inlinedoc { color:Blue; }
.xml-hl-var { color:#000020; }
.xml-hl-url { color:Blue; }
.xml-hl-special { color:Navy; }
.xml-hl-number { color:Maroon; }
.xml-hl-inlinetags { color:Blue; }
.xml-hl-main {
  font-family:'Courier New', Courier, monospace;
  font-weight:normal;
}
.xml-hl-gutter {
  background-color:#999999;
  color:White;
}
.xml-hl-table {
  font-family:courier;
  font-size:12px;
  border:solid 1px #505050;
}
.html-hl-default { color:Black; }
.html-hl-code { color:Gray; }
.html-hl-brackets { color:Olive; }
.html-hl-comment {
  color:#808080;
  font-style:italic;
}
.html-hl-quotes { color:red; }
.html-hl-string { color:Red; }
.html-hl-identifier { color:Blue; }
.html-hl-builtin { color:Teal; }
.html-hl-reserved { color:Green; }
.html-hl-inlinedoc { color:Blue; }
.html-hl-var { color:#000020; }
.html-hl-url { color:Blue; }
.html-hl-special { color:Navy; }
.html-hl-number { color:Maroon; }
.html-hl-inlinetags { color:Blue; }
.html-hl-main {
  font-family:'Courier New', Courier, monospace;
  font-weight:normal;
}
.html-hl-gutter {
  background-color:#999999;
  color:White;
}
.html-hl-table {
  font-family:courier;
  font-size:12px;
  border:solid 1px #505050;
}
.css-hl-default { color:Black; }
.css-hl-code { color:Gray; }
.css-hl-brackets { color:Olive; }
.css-hl-comment {
  color:#808080;
  font-style:italic;
}
.css-hl-quotes { color:red; }
.css-hl-string { color:Red; }
.css-hl-identifier { color:Blue; }
.css-hl-builtin { color:Teal; }
.css-hl-reserved { color:Green; }
.css-hl-inlinedoc { color:Blue; }
.css-hl-var { color:#000020; }
.css-hl-url { color:Blue; }
.css-hl-special { color:Navy; }
.css-hl-number { color:Maroon; }
.css-hl-inlinetags { color:Blue; }
.css-hl-main {
  font-family:'Courier New', Courier, monospace;
  font-weight:normal;
}
.css-hl-gutter {
  background-color:#999999;
  color:White;
}
.css-hl-table {
  font-family:courier;
  font-size:12px;
  border:solid 1px #505050;
}
.javascript-hl-default { color:Black; }
.javascript-hl-code { color:Gray; }
.javascript-hl-brackets { color:Olive; }
.javascript-hl-comment {
  color:#808080;
  font-style:italic;
}
.javascript-hl-quotes { color:red; }
.javascript-hl-string { color:Red; }
.javascript-hl-identifier { color:Blue; }
.javascript-hl-builtin { color:Teal; }
.javascript-hl-reserved { color:Green; }
.javascript-hl-inlinedoc { color:Blue; }
.javascript-hl-var { color:#000020; }
.javascript-hl-url { color:Blue; }
.javascript-hl-special { color:Navy; }
.javascript-hl-number { color:Maroon; }
.javascript-hl-inlinetags { color:Blue; }
.javascript-hl-main {
  font-family:'Courier New', Courier, monospace;
  font-weight:normal;
}
.javascript-hl-gutter {
  background-color:#999999;
  color:White;
}
.javascript-hl-table {
  font-family:courier;
  font-size:12px;
  border:solid 1px #505050;
}
.sql-hl-default { color:Black; }
.sql-hl-code { color:Gray; }
.sql-hl-brackets { color:Olive; }
.sql-hl-comment {
  color:#808080;
  font-style:italic;
}
.sql-hl-quotes { color:red; }
.sql-hl-string { color:Red; }
.sql-hl-identifier { color:Blue; }
.sql-hl-builtin { color:Teal; }
.sql-hl-reserved { color:Green; }
.sql-hl-inlinedoc { color:Blue; }
.sql-hl-var { color:#000020; }
.sql-hl-url { color:Blue; }
.sql-hl-special { color:Navy; }
.sql-hl-number { color:Maroon; }
.sql-hl-inlinetags { color:Blue; }
.sql-hl-main {
  font-family:'Courier New', Courier, monospace;
  font-weight:normal;
}
.sql-hl-gutter {
  background-color:#999999;
  color:White;
}
.sql-hl-table {
  font-family:courier;
  font-size:12px;
  border:solid 1px #505050;
}
.source .copycode {
  text-align:right;
  float:right;
}
.source .copycode a {
  cursor:pointer;
  color:blue;
}
.source .copycode_hover a { color:red; }
body {
  padding-top:100px;
  padding-bottom:60px;
}
p {
  font-size:14px;
  margin-bottom:1.6em;
}
.hero-unit { padding: 20px; margin-bottom:0; }
.hero-unit h1 { color: #0088cc; font-size: 40px; margin-bottom:0.4em; }
.hero-unit p { text-align:justify; }
.hero-unit p:last-child { margin-bottom:0; }
.navbar .brand { color: #0088cc; }
.navbar .add-this {
  margin:6px 0 6px 10px;
  padding:6px 0;
}
.subnav.navbar-fixed-top { top:40px; }
footer .powered {
  color:#888888;
  margin-bottom:20px;
}
footer .copy { color:#666666; }
span.required { color:#ff0000; }
.popover h3.popover-title { margin-bottom:0; }
section { padding-top:80px; }
section a.top {
  display:block;
  text-align:right;
}
#tbNavbar .navbar-inner > .container { width:auto; }
#tbMenu .menuCol { min-height:140px; }
#tbTabs .togglable-tabs { margin-bottom:20px; }
#tbThumbnails .list-view { padding-top:30px; }
#tbActiveForm .form-vertical .control-group > label { font-weight:bold; }
#tbHero .hero-unit { width:650px; }
#tbHero .hero-unit h1 { margin-bottom:0; }
#tbHero .hero-unit p { margin-bottom:9px; }
#tbHero .hero-unit p:last-child { margin-bottom:0; }
#tbCarousel .carousel { width:770px; }
#tbCarousel .carousel .carousel-caption p { margin-bottom:9px; }
#tbTypeahead input { margin-bottom:0; }
.php-hl-main, .html-hl-main, .javascript-hl-main { margin-bottom:20px; }
.php-hl-main pre, .html-hl-main pre, .javascript-hl-main pre {
  background:#fcfcfc;
  border-color:#eeeeee transparent #eeeeee;
  font-family:"Menlo", "Consolas", "Courier New", Courier, mono;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.maintenance .hero-unit { text-align:center; }
.maintenance .hero-unit p { text-align:inherit; }
@media (max-width: 980px) {
  body { padding-top:0px; }
}
